version: "3.8"

services:
  backend:
    environment:
      NODE_ENV: development
    command: npm run dev
    volumes:
      - ./src/backend:/app
      - /app/node_modules

  frontend:
    volumes:
      - ./build/frontend:/usr/share/nginx/html
