version: '3.8'

services:
  backend:
    environment:
      NODE_ENV: development
    command: npm run dev
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    volumes:
      - ./src:/usr/share/nginx/html
